<h1>Log in</h1>
<%=form_with url: signin_path do |f|%>
	<div class="mb-3">
		<%= f.label :email %><br>
		<%=f.text_field :email ,class:"form-control"%><br>
	</div>
	<div class="mb-3">
		<%= f.label :password %><br>
		<%=f.password_field :password ,class:"form-control"%>
	</div>
	<div><%=f.submit%></div>
	
<%end%>